<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          <p class="footer__text">&copy; Big Moon Dev</p>
          <p class="footer__text">contact@bigmoondev.com | 615-630-5540</p>
        </div>
      </div>
    </div>
  </div>
</footer>
