<%= render 'partials/navbar' %>

<header class="home_header">
  <h1 class="home_header__headline">Let's build something great!</h1>
  <p class="home_header__text"><%= link_to "Get Started", next_step_path, class: 'home_header__get-started-btn' %></p>
</header>

<%= render 'partials/footer' %>
