<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new contact form has been submitted</p>
    <p>Contact Name: <%= @contact.name %><br/>Contact Email: <%= @contact.email %><br/>Contact Phone: <%= @contact.phone %></p>
    <p>Message:<br/><%= @contact.message %>
  </body>
</html>
