@import 'variables';

footer {
  border-top: 1px solid #ddd;
}
.footer {
  padding: 20px 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__text {
  font-family: $font_regular;
  font-size: 1.6rem;
  color: #bbb;
  margin: 0;
  padding:0;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .footer {
    padding: 20px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .footer {
    padding: 20px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .footer {
    padding: 20px 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .footer {
    padding: 20px 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .footer {
    padding: 20px 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
